/* 
login page
*/

.topBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weekendertext {
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  display: inline-block;
}

.welcome {
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  display: inline-block;
  text-align: center;
  width: 33.33%;
}

.logoutButton {
  margin-right: 15px;
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
}

.googleLogin{
  margin-right: 15px;
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
}


.addTrip{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
}

body{
  background-color: rgb(160, 63, 63)
}
/* 
home page
*/



.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.addTripHome{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  box-shadow: 5px 5px 5px #000000;
  transition: all 0.3s ease; 
  font-weight: bolder;
}
.addTripHome:hover {
  box-shadow: 0px 0px 10px 5px rgba(208, 130, 74, 0.8);
  box-shadow: 0px 0px 10px 5px rgba(255, 140, 57, 0.8);
  text-shadow: 5px 5px 5px #000000;
  transform: scale(1.05);
  cursor: pointer;
}
.upcomingTrip:hover {
  box-shadow: 0px 0px 10px 5px rgba(208, 130, 74, 0.8);
  box-shadow: 0px 0px 10px 5px rgba(255, 140, 57, 0.8);
  text-shadow: 5px 5px 5px #000000;
  transform: scale(1.05);
  cursor: pointer;
}

.upcomingTrip{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  box-shadow: 5px 5px 5px #000000;
  transition: all 0.3s ease; 
  font-weight: bolder;

}



#outerFrame{
  margin: 50px;
  
}

.pastTripImages {
  height: 300px;
  width: 90%;
  object-fit: cover;
  border-radius: 30px;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #000000;
  transition: all 0.3s ease; 
}

.pastTripImages:hover {
  height: 310px;
  width: 92%;
  opacity: 1;
  transform: scale(1.05) rotate(1deg);
  filter: blur(2px);
  cursor: pointer;
  
}

.ImgFrame {
  padding: 10px;
  margin: 10px;
  background-color: rgb(208, 130, 74);
  width: 100%;
  border-radius: 30px;
  position: relative;
}

.text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 5px #000000;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  width: auto; /* Take up only as much width as necessary for text */
  height: auto; /* Take up only as much height as necessary for text */
  pointer-events: none;
}

.ImgFrame:hover .text {
  opacity: 1;
  display: inline-block;
  
  
}
/* 
Add trip page */

.topContainer{
  display: flex;
  align-items: flex-start;
}


/* 
ucpming trip page */

.listButton{

 
  float: right;
  color: beige;
  background-color: rgb(208, 130, 74);
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}

/* 
Campground List styles */
.CampGroundsListContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px
}

.CampGroundPhoto{
  width: 300px;
  height:300px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #505050;
  transition: all 0.3s ease; 
}
.CampGroundPhoto:hover{
  transform:1.1;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #000000;
  transform: scale(1.05) rotate(1deg);
  cursor: pointer;
}

/* Chosencampground page */

  
  .ChosenCampGroundPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
 
  
 
  
  
  
  .ChosenCampGroundName {
    margin-right: 80px;
  }
  
  .Weatherbar {
    margin-left: 20px;
  }
  
  .photoSlider {
    width: 46%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ChosenCampGroundPhotos{
    height: 600px;
    width: 95%;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px 5px #000000;
   
  }
  
  .BottomStuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
    color: beige;
    font-size: 20px;
    font-family: 'Karantina', Arial, sans-serif;
  }
  
  .saveTripButton {
    background-color: green;
  }

/*  WeatherBar */

.WeatherbarContainer{
  display: center;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.forecast-tombstone{
  display: inline-block;
  vertical-align: top;
  margin: 0px auto;
  white-space: normal;
  font-size: 11px;
  text-align: center;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;

  /* 3 to a row */
  /* 5 to a row */
  /* 9 to a row */
}
.day-of-week{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-top: auto;
  margin-bottom: auto;
}
.date{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: auto;
}

.precipitation-probability{
  font-family: sans-serif;
  font-weight: bold;
  color: blue;
  margin: auto;
}

.uv-index{
  font-family: sans-serif;
  font-weight: bold;
  color: violet;
  margin: auto;
}

.temp-high{
  font-Family: sans-serif;
  font-Size: 15px;
  color: red;
  font-Weight: bold;
  margin: auto;
}

.temp-low{
  font-family: sans-serif;
  font-size: 10px;
  font-Weight: bold;
  color: blue;
  margin: auto
}


