/* 
login page
*/

.weekendertext{
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  margin-left: 15px;
 
}
.googleLogin{
  margin-right: 15px;
  float: right;
  size: 10px;
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}


.addTrip{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
}

body{
  background-color: rgb(160, 63, 63)
}
/* 
home page
*/

.logoutButton{
  margin-right: 15px;
  float: right;
  size: 10px;
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}

.welcome{

  display: block;
  margin: 0 auto;
  text-align: center;
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.addTripHome{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
}

.upcomingTrip{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;

}

.chosenCampground{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;

}


#outerFrame{
  margin: 50px;
  
}

.pastTripImages {
  height: 300px;
  width: 90%;
  object-fit: cover;
  border-radius: 30px;
  opacity: 0.9;
  box-shadow: 5px 5px 5px #000000;
  transition: all 0.3s ease; 
}

.pastTripImages:hover {
  height: 310px;
  width: 92%;
  opacity: 1;
  transform: scale(1.05) rotate(1deg);
  filter: blur(2px);
  cursor: pointer;
  
}

.ImgFrame {
  padding: 10px;
  margin: 10px;
  background-color: rgb(208, 130, 74);
  width: 100%;
  border-radius: 30px;
  position: relative;
}

.text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 5px #000000;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  width: auto; /* Take up only as much width as necessary for text */
  height: auto; /* Take up only as much height as necessary for text */
  pointer-events: none;
}

.ImgFrame:hover .text {
  opacity: 1;
  display: inline-block;
  
  
}
/* 
Add trip page */

.topContainer{
  display: flex;
  align-items: flex-start;
}


/* 
ucpming trip page */

.listButton{

 
  float: right;
  color: beige;
  background-color: rgb(208, 130, 74);
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}

/* 
Campground List styles */
.CampGroundsListContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px
}

.CampGroundPhoto{
  width: 300px;
  height:300px;
  border-radius: 30px;
}

/* Chosencampground page */

  .ChosenCampGroundName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  

.BottomStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  font-family: 'Karantina', Arial, sans-serif;
  color:beige;
  max-width: 600px; 
  margin: 0 auto; 
  text-align: center;
}

.saveTripButton{
  background-color: green;
}

/*  WeatherBar */

.WeatherbarContainer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.forecast-tombstone{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


