/* 
login page
*/

.weekendertext{
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
  margin-left: 15px;
 
}
.googleLogin{
  margin-right: 15px;
  float: right;
  size: 10px;
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}


.addTrip{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
}

body{
  background-color: rgb(160, 63, 63)
}
/* 
home page
*/

.logoutButton{
  margin-right: 15px;
  float: right;
  size: 10px;
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}

.welcome{

  display: block;
  margin: 0 auto;
  text-align: center;
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.addTripHome{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;
}

.upcomingTrip{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;

}

.chosenCampground{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 200px 200px;
  padding: 200px 200px;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(208, 130, 74);
  font-family: 'Karantina', Arial, sans-serif;
  color: beige;

}

/* 
Add trip page */

.topContainer{
  display: flex;
  align-items: flex-start;
}


/* 
ucpming trip page */

.listButton{

 
  float: right;
  color: beige;
  background-color: rgb(208, 130, 74);
  font-size: 20px;
  font-family: 'Karantina', Arial, sans-serif;
  padding: 10px 40px;
  border-radius: 20px;
}

/* 
Campground List styles */
.CampGroundsListContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px
}

.CampGroundPhoto{
  width: 300px;
  height:300px;
}

/* Chosencampground page */

  .ChosenCampGroundName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  

.BottomStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  font-family: 'Karantina', Arial, sans-serif;
  color:beige;
  max-width: 600px; 
  margin: 0 auto; 
  text-align: center;
}

.saveTripButton{
  background-color: green;
}

/*  WeatherBar */

.WeatherbarContainer{
  display: center;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.forecast-tombstone{
  display: inline-block;
  vertical-align: top;
  margin: 0px auto;
  white-space: normal;
  font-size: 11px;
  text-align: center;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;

  /* 3 to a row */
  /* 5 to a row */
  /* 9 to a row */
}
.day-of-week{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin-top: auto;
  margin-bottom: auto;
}
.date{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: auto;
}

.precipitation-probability{
  font-family: sans-serif;
  font-weight: bold;
  color: blue;
  margin: auto;
}

.uv-index{
  font-family: sans-serif;
  font-weight: bold;
  color: violet;
  margin: auto;
}

.temp-high{
  font-Family: sans-serif;
  font-Size: 15px;
  color: red;
  font-Weight: bold;
  margin: auto;
}

.temp-low{
  font-family: sans-serif;
  font-size: 10px;
  font-Weight: bold;
  color: blue;
  margin: auto
}


